/* This stylesheet is mobile first */

body {
 margin:0;
 padding:0;
 text-align: center;
 box-sizing: border-box;
 font-family: "Times New Roman", serif;
 background-color: #f5f5f5;
}

.container {
 max-width: 1100px;
 margin: 0 auto;  
}

h1, h3 {
 font-family: "Lucida Grande", serif; 
}

p, h2{
 text-align: center;
 padding: none;
 padding-right: 15px;
 padding-left: 15px;
}

.main-story img{
 width: 75%;
 margin-top:10px;
}

.date {
 font-family: "Lucida Grande", serif; 
 font-size: 20px;
 border-bottom: 10px solid rgb(0,0,0);
 width: 85%;
 margin: 0 auto;
}

.story h3 {
 text-align: center;
}

.story {
 border: 2px solid black;
 margin: 5%;
 background-color: rgb(255,255,255);
}